@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'pokemon';
  src: url('/fonts/pokemon-b-w.ttf');
}

@layer base {
  html {
    font-family:
      'pokemon',
      ui-monospace SFMono-Regular,
      system-ui,
      sans-serif;
  }
}

.main-title {
  @apply text-center text-6xl text-slate-700;
  text-shadow:
    2px 2px white,
    -2px -2px white,
    0 2px white,
    0 -2px white;
}
.card {
  animation: cardAppear 1 300ms ease-out;
}
.card-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(30,41,59, 1) 10%,
    rgba(30,41,59, 1) 90%,
    rgba(0, 0, 0, 1) 100%
  );
}
.card-gradient:hover {
  background: linear-gradient(
    90deg,
    rgba(30,41,59, 1) 15%,
    rgba(30,41,59, 1) 85%
  );
}

.shuffle {
  pointer-events: none;
  animation: shuffling 700ms forwards 1 ease-in-out;
}
.card-out {
  pointer-events: none;
  animation: card-out 400ms forwards 1 ease-in-out;
}
.card-in {
  pointer-events: none;
  animation: card-in 400ms 1 ease-in;
}

@keyframes shuffling {
  33% {
    opacity: 0;
    translate: 15% 0;
  }
  66% {
    opacity: 0;
    translate: -15% 0;
  }
  100% {
    translate: 0 0;
    opacity: 100;
  }

}
@keyframes cardAppear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 100;
    transform: scale(1);
  }
}
@keyframes card-out {
  from {

  }
  to {
    translate: 15%;
    opacity: 0;
  }
}
@keyframes card-in {
  from {
    translate: -15%;
    opacity: 0;
  }
  to {
    translate: 0;
    opacity: 100;
  }
}