@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'pokemon';
  src: url('/fonts/pokemon-b-w.ttf');
}

@layer base {
  html {
    font-family:
      'pokemon',
      ui-monospace SFMono-Regular,
      system-ui,
      sans-serif;
  }
}

.main-title {
  @apply text-slate-700 text-6xl text-center  ;
  text-shadow: 2px 2px  white,
  -2px -2px white,
  0 2px white,
  0 -2px white;
}